/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Red+Hat+Display:wght@400;700;900&display=swap");


/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;
  
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(29, 72%, 55%);
  --first-color-light: hsl(30, 97%, 77%);
  --first-color-alt: hsl(26, 67%, 52%);
  --first-color-dark: hsl(22, 67%, 52%);
  --first-color-gray: hsl(79, 6%, 64%);
  --title-color: hsl(180, 4%, 98%);
  --title-color-black: hsl(180, 4%, 12%);
  --text-color: hsl(180, 4%, 72%);
  --text-color-light: hsl(180, 4%, 65%);
  --body-color: hsl(0, 12%, 10%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Red Hat Display', sans-serif;
  --second-font: 'Kaushan Script', cursive;
  --biggest-font-size: 2rem;
  --bigger-font-size: 1.5rem;
  --big-font-size: 1.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-bold: 700;
  --font-black: 900;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 6rem;
    --bigger-font-size: 3.5rem;
    --big-font-size: 2.75rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3{
  color: var(--title-color);
  font-weight: var(--font-bold);
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container{
  max-width: 3000px;
  margin-right: 1rem;
  margin-left: 1rem;
}

.section{
  padding: 4.5rem 0 2rem;
}
 
.section__data {
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
  text-align: center;
  margin-bottom: 3rem;
}

.section__title, 
.section__title-border {
  font-size: var(--big-font-size);
  letter-spacing: 1.25px;
}

.section__subtitle {
  font-size: var(--h2-font-size);
  font-family: var(--second-font);
  font-weight: 400;
  letter-spacing: 1.5px;
  color: var(--first-color);
  transform: rotate(-2deg);
}

.section__titles {
  display: flex;
  column-gap: .75rem;
  justify-content: center;
}

.section__title-border {
  -webkit-text-stroke: 1px var(--text-color);
  color: transparent;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.main {
  overflow: hidden; /* For animation ScrollReveal */
}

.color-red {
  color: hsl(0, 80%, 64%);
}

.color-green {
  color: var(--first-color);
}

/*=============== HEADER & NAV ===============*/

.header{
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  transition: background .3s;
}

.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle{
  color: var(--title-color);
  display: flex;
}

.nav__logo{
  align-items: center;
  column-gap: .5rem;
  font-weight: var(--font-bold);
}

.nav__logo img{
  width: 1.25rem;
}

.nav__toggle{
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 1023px){
  .nav__menu{
    position: fixed;
    background-color: hsla(0, 14%, 10%, 0.345);
    backdrop-filter: blur(32px);
    -webkit-backdrop-filter: blur(32px);
    top: 0;
    right: -100%;
    width: 80%;
    height: 100%;
    border-left: 2px solid var(--first-color-gray);
    transition: right .3s;
  }
  
}
.nav__list{
  padding: 5rem 0 0 3rem;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.nav__link{
  color: var(--title-color);
  transition: color .3s;
}

.nav__link:hover{
  color: var(--first-color);
}

.nav__close{
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;

}  
 
.nav .nav__button{
  background-color: var(--title-color);
  border: none;
}
 

/* Show menu */
.show-menu{
  right: 0;
}



/* Change background header */

.bg-header{
  background-color: var(--body-color);
  box-shadow: 0 4px 8px hsla(180, 12%, 4%, .3);
}


/* Active link */

.active-link{
  color: var(--first-color);
}

/*=============== OfferPopUp ===============*/
/* .popup{
  position: absolute;
  width: 400px;
  top: 400px;
  left: 1150px;
  right: 900px;
  height: 700px;
  transform: translate(-50%,-50%);
  display: none;
  backdrop-filter: blur(100px);
  box-sizing: content-box;
  

}


.contentBox{
  position: relative;
  width: 700px;
  height: 700px;
  background: hsl(29, 69%, 66%);
  border-radius: 20px;
  display: flex;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);

}
.contentBox .imgBx{
  position: relative;
  width: 700px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentBox .imgBx img{
  position: relative;
  max-width: 600px;
  border-radius: 20px;
}

.contentBox .content{
  position: fixed;
  width: 700px;
  height: 1350px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contentBox .content a{
  display: inline-block;
  padding: 10px 20px;
  background:  hsl(22, 67%, 52%);
  color: #fff;
  margin-top: 5px;
  text-decoration: none;
  border-radius: 10px;

}

.close{
  position: fixed;
  top: 20px;
  right: 5px;
  width: 50px;
  height: 50px;
  background:  hsl(29, 69%, 66%) url(close\(4\).png);
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: center;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;

} */




.offer-popup {
  position: fixed;
  bottom: 10px;
  right: 20px;
  width: 250px;
  background-color:  hsl(30, 97%, 77%);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 8px;
  display: none; /* Initially hidden */
  opacity: 0;
  transition: opacity 0.5s ease-in-out; 
}

/* ok */

.offer-popup.show {
  display: block;
  opacity: 1;
}

.offer-popup .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.offer-popup h2 {
  color: #000;
  margin-top: 0;
  font-size: 20px;
}

.offer-popup p {
  color: #161414;
  margin-top: 0;
  font-size: 18px;
}
.offer-popup span {
  color: #161414;
  margin-top: 0;
  font-size: 20px;
}
.offer-popup button {
  background-color: #ff4d4d;
  color: rgb(29, 2, 2);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.offer-popup button:hover {
  background-color: #ff3333;
}

.confirmation-message {
  position: fixed;
  bottom: 80px;
  right: 20px;
  background-color: #fa2302;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  display: none; /* Initially hidden */
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.confirmation-message.show {
  display: block;
  opacity: 1;
}





/*=============== HOME ===============*/
.home{
  position: relative;
  padding-bottom: 0;
}

.home__container{
  padding-top: 4rem;
  row-gap: 3rem;
}

.home__data{
  text-align: center;
}

.home__subtitle{
  font-size: var(--bigger-font-size);
  -webkit-text-stroke: 1px var(--title-color);
  color: transparent;
}

.home__title{
  font-size: var(--biggest-font-size);
  font-weight: var(--font-black);
  margin: .5rem 0;
}

.home__subtitle,
.home__title{
  letter-spacing: 1.5px;
}

.home__description{
  margin-bottom: 2.5rem;
}

.home__triangle{
  height: 325px;
  position: absolute;
  right: 0;
  bottom: 0;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

.home__triangle-1{
  width: 105px;
  background-color: var(--first-color);
}

.home__triangle-2{
  width: 205px;
  background-color: var(--first-color-alt);
}

.home__triangle-3{
  width: 305px;
  background-color: var(--first-color-dark);
}

.home__img{
  display: block;
  position: relative;
  z-index: 1;
  width: 350px;
  margin: 0 auto;
}


/*=============== BUTTON ===============*/
.button{
  display: inline-block;
  background-color: var(--first-color);
  padding: 18px 32px;
  border: 2px solid var(--first-color-light);
  color: var(--title-color-black);
  font-weight: var(--font-bold);
  cursor: pointer;
  transition: background .3s;
}

.button:hover{
  background-color: var(--first-color-alt);
}

.button i{
  font-size: 1.25rem;
  transition: transform .3s;
}

.button__flex{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: .5rem;
}

.button__flex:hover i{
  transform: translateX(0.25rem);
}

@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
.WA_Chat_Widget *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.WA_Chat_Widget .WA_FloatingButton{
    position: absolute;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.185);
    border-radius: 50%;
    background: #38e75e;
    cursor: pointer;
    z-index: 1000;
}
.WA_Chat_Widget .WA_FloatingButton svg{
    width: 40px;
    height: 40px;
    fill: white;
}
.WA_Chat_Widget[data-position^="top-"] .WA_FloatingButton{
    top: 20px;
}
.WA_Chat_Widget[data-position^="bottom-"] .WA_FloatingButton{
    bottom: 20px;
}
.WA_Chat_Widget[data-position$="-left"] .WA_FloatingButton{
    left: 20px;
}
.WA_Chat_Widget[data-position$="-right"] .WA_FloatingButton{
    right: 20px;
}
.WA_Chat_Widget[data-position$="-center"] .WA_FloatingButton{
    left: 50%;
    transform: translateX(-50%);
}

.WA_Chat_Widget[data-position^="top-"] .WA_ChatBox{
    top: 110px;
}
.WA_Chat_Widget[data-position^="bottom-"] .WA_ChatBox{
    bottom: 110px;
}
.WA_Chat_Widget[data-position$="-left"] .WA_ChatBox{
    left: 30px;
}
.WA_Chat_Widget[data-position$="-right"] .WA_ChatBox{
    right: 30px;
}
.WA_Chat_Widget[data-position$="-center"] .WA_ChatBox{
    left: 50%;
    transform: translateX(-50%);
}


.WA_Chat_Widget .WA_ChatBox{
    position: fixed;
    width: 360px;
    height: auto;
    overflow: hidden;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 5px 25px 0px rgba(0, 0, 0, 0.1);
    display: none;
}

.WA_Chat_Widget .WA_ChatBox .WA_ChatBox_Header{
    width: auto;
    background: #095e54;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.WA_Chat_Widget .WA_ChatBox .WA_ChatBox_Header .avatarBox{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    overflow: hidden;
}
.WA_Chat_Widget .WA_ChatBox .WA_ChatBox_Header .avatarBox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.WA_Chat_Widget .WA_ChatBox .WA_ChatBox_Header .infoBox .name{
    color: #fff;
    font-weight: 600;
}

.WA_Chat_Widget .WA_ChatBox .WA_ChatBox_Header .infoBox .answer_time{
    color: #e4e4e4;
    font-size: 14px;
}
.WA_Chat_Widget .WA_ChatBox .WA_ChatBox_Header .WA_Close{
    background: transparent;
    color: #fff;
    border: none;
    outline: none;
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.WA_Chat_Widget .WA_ChatBox .WA_ChatBox_Header .WA_Close svg{
    fill: #ffff;
}
.WA_Chat_Widget .WA_ChatBox .WA_ChatBox_Body{
    padding: 20px;
    background: #e6ddd4;
    position: relative;
}
.WA_Chat_Widget .WA_ChatBox .WA_ChatBox_Body::before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: url(./bg-pattern.png);
    opacity: 0.1;
    z-index: 0;
}
.WA_Chat_Widget .WA_ChatBox .WA_ChatBox_Body .message{
    max-width: 280px;
    background: #fff;
    padding: 20px;
    padding-top: 10px;
    border-radius: 8px;
    z-index: 1;
    position: relative;
}
.WA_Chat_Widget .WA_ChatBox .WA_ChatBox_Body .message::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: #fff;
    left: -10px;
    top: 0px;
    border-radius: 3px;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
}
.WA_Chat_Widget .WA_ChatBox .WA_ChatBox_Body .message .username{
    color: darkgray;
    font-weight: 500;
}
.WA_Chat_Widget .WA_ChatBox .WA_ChatBox_Body .message .message_content{
    font-size: 14px;
    color: #000;
}

.WA_Chat_Widget .WA_ChatBox .WA_ChatBox_Footer{
    padding: 20px;
    background-color: #fff;
    width: 100%;
}
.WA_Chat_Widget .WA_ChatBox .WA_ChatBox_Footer .btn{
    width: 100%;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 1000px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}
.WA_Chat_Widget .WA_ChatBox .WA_ChatBox_Footer .btn.btn-whatsapp{
    background: #095e54;
    color: #fff;
    display: block;
    text-align: center;
}


/*=============== LOGOS ===============*/

.gallery{
  width: 1000px;
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
}

.gallery div{
  width: 70%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
  flex:none;

}

.gallery div img{
  width: 100%;
  filter: grayscale(100%);
  transition: transform 0.5s;
}

.gallery::-webkit-scrollbar{
  display: none;
}


.gallery-wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10% auto;

}

#backBtn, #nextBtn{
  width: 40px;
  cursor: pointer;
  margin: 40px;
}
.gallery div img:hover{
  filter: grayscale(0);
  cursor: pointer;
  transform: scale(1.1);

}


.carousel .responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  justify-content: flex-start;
}

.carousel * {
  font-family: Nunito, sans-serif;
}

.carousel .responsive-container-block.bigContainer {
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
}

.carousel .responsive-container-block.Container {
  max-width: 1320px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  position: relative;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 70px;
  padding-left: 10px;
}

.carousel .cardImg {
  width: 100%;
}

.carousel .container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  display: block;
}

.carousel .swiper.mySwiper {
  width: 100%;
}

.carousel .swiper-slide {
  width: 100%;
}

.carousel .swiper-wrapper {
  width: 100%;
}

.carousel .swiper-pagination.container-block {
  top: auto;
  bottom: 5px;
  min-height: 20px;
}



 /* Slideshow container */
 .slideshow-container {
  position: relative;
  background: hsl(0, 12%, 10%);
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: var(--first-color-dark);
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  transition: text-shadow .2s linear;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
  
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: hsl(22, 67%, 52%);
  color: hsl(0, 12%, 10%);;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  background: #ddd;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: cornflowerblue;} 
/*=============== PROGRAM ===============*/
.program__container{
  grid-template-columns: 225px;
  justify-content: center;
  row-gap: 2rem;
}

.program__card{
  display: grid;
  background-color: hsla(79 , 6%, 64%, 0.07);
  padding: 1.5rem 2rem;
  border: 2px solid transparent;
  transition: background .5s border .4s;
}

.program__image{
  width: 38px;
}

.program__shape{
  width: 50px;
  height: 50px;
  background-color: var(--first-color-light);
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin-bottom: 1rem;
  transition: background .5s;
}

.program__title{
  font-size: var(--h3-font-size);
  margin-bottom: 1rem;
}

.program__description{
  font-size: var(--small-font-size);
  letter-spacing: .5px;
  line-height: 150%;
}

.program__title,
.program__description{
  transition: color .5s;
}

.program__button{
  justify-self: flex-end;
  margin-top: 1.5rem;
  font-size: 1.25rem;
  color: var(--title-color-black);
  opacity: 0;
  

  transition: opacity .4s;
}

.program__button i{
  display: block;
  transition: transform .3s;
}

.program__button:hover i{
  transform: translateX(.25rem);
}

.program__card:hover {
  background-color: var(--first-color);
  border: 2px solid var(--first-color-light);
}

.program__card:hover .program__shape{
  background-color: var(--first-color-light);
}

.program__card:hover .program__title,
.program__card:hover .program__description{
  color: var(--title-color-black);
}

.program__card:hover .program__button{
  opacity: 1;
}




/*=============== CHOOSE ===============*/


.choose{
  padding-bottom: 0;
}
.choose__overflow{
  position: relative;
}

.choose__container{
  row-gap: 3rem;
}

.choose--content .section__data{
  margin-bottom: 2rem;
}

.choose__description{
  text-align: center;
  margin-bottom: 2.5rem;
}

.choose__data{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  row-gap: 2rem;
}

.choose__group{
  text-align: center;
}

.choose__number{
  font-size: var(--h1-font-size);
  font-family: var(--second-font);
  font-weight: 400;
  margin-bottom: .25rem;
}

.choose___subtitle{
  font-size: var(--small-font-size);
}  

.choose__triangle{
  height: 325px;
  position: absolute;
  left: 0;
  bottom: 0;
  clip-path: polygon(0 0, 0 100% , 100% 100%);

}

.choose__triangle-1{
  width: 305px;
  background-color: var(--first-color);

}

.choose__triangle-2{
  width: 205px;
  background-color: var(--first-color-alt);

}

.choose__triangle-3{
  width: 105px;
  background-color: var(--first-color-dark);

}

.choose__img{
  width: 260px;
  display: block;
  position: relative;
  z-index: 1;
  margin: 0 auto;
}
/* .join__image{
  margin-top: 4rem;
  position: relative;
}
.join__image img{
  border-radius: 10px;
}   

.join__grid{
  position: absolute;
  bottom: -.25rem;
  width: calc(100% -4rem);
  padding: 1rem;
  margin: 0 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  background-color: var(--first-color);
  border-radius: 10px;
}

.join__card{
  flex: 1 1 250px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.join__card span{
  padding: 5px 12px;
  font-size: 1.75rem;
  color: var(--white);
  background-color: var(--first-color-dark);
  border-radius: 5px;

}

.join__card h4{
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--body-color);
}

.join__card p{
  color:  hsl(0, 12%, 10%);
} */




/*=============== PRICING ===============*/
.pricing__container{
  grid-template-columns: 285px;
  justify-content: center;
  row-gap: 2rem;
}

.pricing__card,
.pricing__shape,
.pricing__list{
  display: grid;
}

.pricing__grid{
  row-gap: 2rem;
  background-color: hsla(0, 6%, 64%, 0);
  padding: 2rem 2.5rem;
}

.pricing__img{
  width: 35px;
}

.pricing__shape{
  width: 60px;
  height: 60px;
  background-color: var(--first-color-light);
  border-radius: 50%;
  place-items: center;
  margin-bottom: .25rem;
}

.pricing__title{
  font-size: var(--h1-font-size);
  color: var(--text-color);
  margin-bottom: 1rem;
}

.pricing__number{
  font-size: var(--h2-font-size);
  margin-bottom: 1rem;
  

}

.pricing__list{
  row-gap: 1rem;
}

.pricing__item{
  display: flex;
  column-gap: .5rem;
  align-items: center;
  font-size: var(--small-font-size);
  margin-bottom: 1rem;
}

.pricing__item i{
  font-size: 1.25rem;
  color: var(--first-color);
}

.pricing__item-opacity{
  opacity: .3;
}

/* .pricing__button{
  background-color: var(--title-color);
}


.pricing__button:hover{
  background-color: var(--title-color);
}

.pricing__card-active{
  background-color: var(--first-color);
  border: 2px solid var(--first-color-light);
}

.pricing__card-active .pricing__shape{
  background-color: var(--first-color-light);
}

.pricing__card-active .pricing__item i{
  background-color: var(--title-color);
}

.pricing__card-active .pricing__title,
.pricing__card-active .pricing__number,
.pricing__card-active .pricing__item{
  color: var(--title-color-black);
} */





/*=============== CALCULATE ===============*/


/*=============== FOOTER ===============*/
.footer__container{
  row-gap: 2rem;
  padding-top: 1rem;
}

.footer__logo,
.footer__description{
  color: var(--title-color);
}

.footer__logo,
.footer__form,
.footer__social{
  display: flex;
}

.footer__logo{
  align-items: center;
  column-gap:  .5rem;
  font-weight: var(--font-bold);
  margin-bottom: 1.5rem;
}

.footer__logo img{
  width: 1.5rem;
}

.footer__description{
  margin-bottom: 2rem;

}

.footer__form{
  flex-direction: column;
  gap: 1.25rem;
  width: 70%;
}

.footer__input{
  padding: 20px 56px 20px 24px;
  border: 2px solid var(--first-color-light);
  background: transparent;
  color: var(--text-color);
  outline: none;
}

.footer__content,
.footer__groups,
.footer__links{
  display: grid;
}

.footer__content{
  grid-template-columns: repeat(1, max-content);
  gap: 2.5rem 3.5rem;
}

.footer__title{
  font-size: var(--h3-font-size);
  margin-bottom: 1.5rem;
}

.footer__links{
  row-gap: 1rem;
}

.footer__link{
  color: var(--text-color);
  transition:  color .3s;
}

.footer__link:hover{
  color: var(--first-color);
}

.footer__group{
  margin-top: 5rem;
  justify-content: center;
  row-gap: 2rem;
}

.footer__social{
  column-gap: 1.25rem;

}

.footer__social-link{
  display: inline-flex;
  padding: .15rem;
  background-color: var(--first-color);
  border-radius: 40%;
  font-size: 1.25rem;
  color: var(--title-color-black);
  transition: background .4s;
}

.footer__social-link:hover{
  background-color: var(--first-color-dark);
}

.footer__copy{
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

.footer__message{
  position: absolute;
  transform: translateY(1rem);
}






/*=============== SCROLL BAR ===============*/

::-webkit-scrollbar{
  width: 6rem;
  border-radius: .5rem;
  background-color: hsl(220, 4%, 15%);
}

::-webkit-scrollbar-thumb{
  background-color: hsl(79, 4%, 25%);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover{
  background-color: hsl(79, 4%, 35%);
  
}


/*=============== SCROLL UP ===============*/

.scrollup{
  position:  fixed;
  right: 1rem;
  bottom: -30%;
  background-color:var(--first-color);
  display: inline-flex;
  padding: .35rem;
  color: var(--title-color-black);
  font-size: 1.25rem;
  z-index: var(--z-tooltip);
  transition: .3s;
}

.scrollup:hover{
  transform: translateY(-.25rem);
}


/* Show Scroll Up*/
.show-scroll{
  bottom: 3rem;
}


/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container{
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .section__title{
    flex-direction: column;
    row-gap: .25rem;
  }

  .home__triangle,
  .choose__triangle{
    height: 255px;
  }

  .home__triangle-3,
  .choose__triangle-1{
    width: 260px;
  }

  .join__img{
    width: 195px;

  }
  .pricing__container{
    grid-template-columns: 250px;
  }

  .pricing__card{
    padding: 1.5rem;
  }

  .footer__content{
    grid-template-columns: 1fr;
  }

  .gallery{
    width: 200px;
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
  }
  .gallery div img{
    width: 90%;
  filter: grayscale(100%);
  transition: transform 0.5s;

  }

  .gallery div{
    width: 80%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1px;
    padding: 1px;
    flex:none;
  
  }
  #backBtn, #nextBtn{
    width: 20px;
    cursor: pointer;
    margin: 5px;
  }
  .WA_Chat_Widget *{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: "Poppins", sans-serif;
}
.WA_Chat_Widget .WA_FloatingButton{
    position: fixed;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.185);
    border-radius: 50%;
    background: #38e75e;
    cursor: pointer;
    z-index: 1000;
}

  .WA_Chat_Widget .WA_ChatBox{
    position: fixed;
    width: 300px;
    height: auto;
    overflow: hidden;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 5px 25px 0px rgba(0, 0, 0, 0.1);
    display: none;
}

.WA_Chat_Widget .WA_ChatBox .WA_ChatBox_Header{
    width: auto;
    background: #095e54;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.WA_Chat_Widget .WA_ChatBox .WA_ChatBox_Header .avatarBox{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    overflow: hidden;
}
.WA_Chat_Widget .WA_ChatBox .WA_ChatBox_Header .avatarBox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.WA_Chat_Widget .WA_ChatBox .WA_ChatBox_Header .infoBox .name{
    color: #fff;
    font-weight: 600;
}

.WA_Chat_Widget .WA_ChatBox .WA_ChatBox_Header .infoBox .answer_time{
    color: #e4e4e4;
    font-size: 14px;
}
.WA_Chat_Widget .WA_ChatBox .WA_ChatBox_Header .WA_Close{
    background: transparent;
    color: #fff;
    border: none;
    outline: none;
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.WA_Chat_Widget .WA_ChatBox .WA_ChatBox_Header .WA_Close svg{
    fill: #ffff;
}
.WA_Chat_Widget .WA_ChatBox .WA_ChatBox_Body{
    padding: 20px;
    background: #e6ddd4;
    position: relative;
}
.WA_Chat_Widget .WA_ChatBox .WA_ChatBox_Body::before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: url(./bg-pattern.png);
    opacity: 0.1;
    z-index: 0;
}
.WA_Chat_Widget .WA_ChatBox .WA_ChatBox_Body .message{
    max-width: 280px;
    background: #fff;
    padding: 20px;
    padding-top: 10px;
    border-radius: 8px;
    z-index: 1;
    position: relative;
}
.WA_Chat_Widget .WA_ChatBox .WA_ChatBox_Body .message::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: #fff;
    left: -10px;
    top: 0px;
    border-radius: 3px;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
}
.WA_Chat_Widget .WA_ChatBox .WA_ChatBox_Body .message .username{
    color: darkgray;
    font-weight: 500;
}
.WA_Chat_Widget .WA_ChatBox .WA_ChatBox_Body .message .message_content{
    font-size: 14px;
    color: #000;
}

.WA_Chat_Widget .WA_ChatBox .WA_ChatBox_Footer{
    padding: 20px;
    background-color: #fff;
    width: 100%;
}
.WA_Chat_Widget .WA_ChatBox .WA_ChatBox_Footer .btn{
    width: 100%;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 1000px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}
.WA_Chat_Widget .WA_ChatBox .WA_ChatBox_Footer .btn.btn-whatsapp{
    background: #095e54;
    color: #fff;
    display: block;
    text-align: center;
}





  
}


/* For medium devices */
@media screen and (min-width: 768px){
  .nav__menu{
    width: 50%;
  }

  .home__container,
  .choose__container{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    
  }

  .home__data,
  .choose___content .section__data,
  .choose__description{
    text-align: initial;
  }

  /* .slideshow-container{
    grid-template-columns: repeat(4,1fr);

  } */

  .program__container{
    grid-template-columns: repeat(2,225px);
    gap: 2.5rem;
  }

  .choose__content{
    order: 1;
  }

  .choose__data{
    justify-items: flex-start;
  }

  .choose__content .section__titles{
    justify-content: initial;
  }

  .pricing__container{
    grid-template-columns: repeat(2,285px);
    gap: 2.5rem;
  }

  .footer__container{
    grid-template-columns: repeat(1,max-content);
    justify-content: space-between;
  }
    
  .footer__content{
    grid-template-columns: repeat(4,max-content);
  }

  .gallery{
    width: 700px;
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
  }
  .gallery div img{
    width: 200%;
  filter: grayscale(100%);
  transition: transform 0.5s;

  }

  .gallery div{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 15px;
    padding: 10px;
    flex:none;
  
  }
  #backBtn, #nextBtn{
    width: 60px;
    cursor: pointer;
    margin: 5px;
  }
  
}


/* For large devices */
@media screen and (min-width: 1023px){
  .nav{
    height: calc(var(--header-height)+ 2rem);
  }
  .nav__menu{
    width: initial;

  }

  .nav__toggle,
  .nav__close{

    display: none;
  }

  .nav__list{
    flex-direction: row;
    padding: 0;
    align-items: center;
    column-gap: 4rem;
  }

  .section{
    padding: 7rem 0 0;
  }
  .section__subtitle{
    font-size: 2rem ;
  }

  .home__container{
    grid-template-columns: repeat(2,max-content);
    align-items: initial;

  }

  .home__title{
    margin: .75rem 0 1.25rem;
  }

  .home__description{
    width: 445px;
    margin-bottom: 3rem;
  }

  .home__img{
    width: 550px;
    transform: translateX(-6rem);
  }

  .home__triangle{
    height: 700px;
  }

  .home__triangle-1{
    width: 145px;
  }

  .home__triangle-2{
    width: 345px;
  }

  .home__triangle-3{
    width: 545px;
  }

  .choose__overflow{
    overflow: hidden;
  }

  .choose__img{
    width: 350px;
  }

  .choose__triangle{
    height: 700px;
  }

  .choose__triangle-1{
    width: 545px;
  }
  
  .choose__triangle-2{
    width: 345px;
  }
  
  .choose__triangle-3{
    width: 145px;
  }

  .footer{
    padding-bottom: 3rem;
  }
  .footer__form{
    flex-direction: row;
  }

  .footer__content{
    column-gap: 5rem;
  }

  .footer__group{
    grid-template-columns: repeat(2,max-content);
    justify-content: space-between;
    margin-top: 7rem;
  }

  .footer__social{
    order: 1;
  }

  .gallery{
    width: 1000px;
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
  }
  .gallery div img{
    width: 100%;
  filter: grayscale(100%);
  transition: transform 0.5s;

  }

  .gallery div{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 15px;
    padding: 10px;
    flex:none;
  
  }
  #backBtn, #nextBtn{
    width: 60px;
    cursor: pointer;
    margin: 5px;
  }
  
}

@media screen and(min-width: 1150px) {
  .container{
    margin-left: auto;
    margin-right: auto;
  }

  .home__data{
    padding-top: 3rem;
  }
  
  .home__images{
    transform: translateX(-9rem);
  }

  .home__img{
    width: 700px;
    transform: translateX(2rem);
  }

  .home__triangle{
    height: 995px;
  }

  .home__triangle-1{
    height: 205px;
  }

  .home__triangle-2{
    height: 505px;
  }

  .home__triangle-3{
    height: 705px;
  }

  .program__container{
    grid-template-columns: repeat(4 , 245px);
    padding: 3rem 0;
  }

  .program__card{
    padding: 2rem;
  }

  .program__description{
    font-size: var(--normal-font-size);
  }

  .choose__container{
    column-gap: 8rem;
  }

  .choose__img{
    width: 450px;
    margin: 0 0 0 auto;
  }
  
  .choose__triangle{
    height: 800px;
  }

  .choose__images{
    position: relative;
  }

  .choose__data{
    grid-template-columns: repeat(2, max-content);
    gap: 2.5rem 8rem  ;
  }

  .choose__description{
    width: 418px;
    margin-bottom: 3.5rem;
  }

  .pricing__container{
    padding-top: 3rem;
    grid-template-columns: repeat(3,320px);
  }

  .pricing__card{
    padding: 2rem 3.5rem;
    row-gap: 2.5rem;
  }

  .scrollup{
    right: 3rem;
  }


}